In [3]:
import pandas as pd
from sqlalchemy import *

### Store CSV into DataFrame

In [4]:
#Fetching state and year wise data for childeren enrolled in or completed college education
csv_file = "Resources/college_enrolled_completed.csv"
raw_college_data_df = pd.read_csv(csv_file)
raw_college_data_df.head()

  LocationType       Location  TimeFrame DataFormat        Data
0       Nation  United States       2000     Number  8781000.00
1       Nation  United States       2000    Percent        0.36
2       Nation  United States       2001    Percent        0.37
3       Nation  United States       2001     Number  9223000.00
4       Nation  United States       2002     Number  9739000.00

In [5]:
raw_college_data_df.columns

Index(['LocationType', 'Location', 'TimeFrame', 'DataFormat', 'Data'], dtype='object')

In [6]:
raw_college_data_df.dtypes

LocationType     object
Location         object
TimeFrame         int64
DataFormat       object
Data            float64
dtype: object

### Create new data with select columns

In [14]:
#Filtring the state data
college_data_df = raw_college_data_df.loc[raw_college_data_df['LocationType'] == 'State']
college_data_df.head()

   LocationType Location  TimeFrame DataFormat       Data
34        State  Alabama       2016    Percent       0.45
35        State  Alabama       2016     Number  209000.00
36        State  Alabama       2014     Number  204000.00
37        State  Alabama       2014    Percent       0.42
38        State  Alabama       2012     Number  219000.00

In [15]:
#Dropping the rows with number data and only keeping percent data
college_data_df = college_data_df[college_data_df.DataFormat != 'Number']
college_data_df

     LocationType   Location  TimeFrame DataFormat  Data
34          State    Alabama       2016    Percent  0.45
37          State    Alabama       2014    Percent  0.42
39          State    Alabama       2011    Percent  0.45
40          State    Alabama       2012    Percent  0.45
42          State    Alabama       2015    Percent  0.45
45          State    Alabama       2009    Percent  0.45
46          State    Alabama       2010    Percent  0.44
49          State    Alabama       2008    Percent  0.40
50          State    Alabama       2013    Percent  0.42
53          State    Alabama       2006    Percent  0.41
54          State    Alabama       2007    Percent  0.42
57          State    Alabama       2004    Percent  0.37
58          State    Alabama       2005    Percent  0.36
61          State    Alabama       2002    Percent  0.35
62          State    Alabama       2003    Percent  0.37
65          State    Alabama       2000    Percent  0.28
66          State    Alabama       2001    Percent  0.35
69          State     Alaska       2000    Percent  0.25
70          State     Alaska       2001    Percent  0.26
73          State     Alaska       2003    Percent  0.21
74          State     Alaska       2002    Percent  0.25
77          State     Alaska       2004    Percent  0.29
78          State     Alaska       2005    Percent  0.23
81          State     Alaska       2007    Percent  0.27
82          State     Alaska       2006    Percent  0.31
85          State     Alaska       2013    Percent  0.29
86          State     Alaska       2008    Percent  0.30
89          State     Alaska       2010    Percent  0.30
90          State     Alaska       2009    Percent  0.31
93          State     Alaska       2015    Percent  0.31
...           ...        ...        ...        ...   ...
1708        State  Wisconsin       2004    Percent  0.39
1710        State  Wisconsin       2005    Percent  0.42
1713        State  Wisconsin       2006    Percent  0.46
1714        State  Wisconsin       2007    Percent  0.48
1717        State  Wisconsin       2008    Percent  0.48
1719        State  Wisconsin       2009    Percent  0.49
1720        State  Wisconsin       2013    Percent  0.51
1723        State  Wisconsin       2010    Percent  0.50
1724        State  Wisconsin       2015    Percent  0.50
1727        State  Wisconsin       2011    Percent  0.50
1729        State  Wisconsin       2014    Percent  0.50
1730        State  Wisconsin       2012    Percent  0.52
1731        State  Wisconsin       2016    Percent  0.52
1736        State    Wyoming       2016    Percent  0.41
1737        State    Wyoming       2012    Percent  0.44
1738        State    Wyoming       2014    Percent  0.43
1741        State    Wyoming       2011    Percent  0.41
1743        State    Wyoming       2015    Percent  0.39
1744        State    Wyoming       2010    Percent  0.42
1746        State    Wyoming       2013    Percent  0.41
1749        State    Wyoming       2009    Percent  0.45
1751        State    Wyoming       2008    Percent  0.37
1752        State    Wyoming       2007    Percent  0.36
1754        State    Wyoming       2006    Percent  0.38
1757        State    Wyoming       2005    Percent  0.33
1758        State    Wyoming       2004    Percent  0.29
1761        State    Wyoming       2003    Percent  0.28
1763        State    Wyoming       2002    Percent  0.27
1765        State    Wyoming       2001    Percent  0.27
1766        State    Wyoming       2000    Percent  0.29

[850 rows x 5 columns]

### Clean DataFrame

In [68]:
#Sorting the dataframe by Timeframe
college_data_df = college_data_df.sort_values(by = 'TimeFrame', ascending = False)

#Keeping the data values only for the latest year
college_data_df = college_data_df[college_data_df.TimeFrame == 2016]
college_data_df = college_data_df.reset_index()
#Keeping only the columns that are relevant for analysis
college_data_df = college_data_df[['Location', 'TimeFrame', 'Data']]
college_data_df['Data'] = college_data_df['Data'].map("{:,.1%}".format)
college_data_df

          Location  TimeFrame   Data
0          Alabama       2016  45.0%
1        Minnesota       2016  52.0%
2          Georgia       2016  45.0%
3          Florida       2016  47.0%
4         Delaware       2016  48.0%
5      Connecticut       2016  59.0%
6         Colorado       2016  46.0%
7         Nebraska       2016  51.0%
8    New Hampshire       2016  55.0%
9           Oregon       2016  46.0%
10        Arkansas       2016  42.0%
11     Mississippi       2016  43.0%
12        Illinois       2016  52.0%
13        Virginia       2016  51.0%
14         Vermont       2016  57.0%
15            Utah       2016  44.0%
16           Texas       2016  43.0%
17       Tennessee       2016  44.0%
18  South Carolina       2016  44.0%
19      New Jersey       2016  57.0%
20    Pennsylvania       2016  52.0%
21    South Dakota       2016  48.0%
22           Idaho       2016  43.0%
23          Hawaii       2016  42.0%
24         Indiana       2016  46.0%
25            Iowa       2016  52.0%
26    Rhode Island       2016  62.0%
27    North Dakota       2016  49.0%
28  North Carolina       2016  46.0%
29        New York       2016  58.0%
30      New Mexico       2016  40.0%
31      California       2016  54.0%
32         Montana       2016  43.0%
33          Alaska       2016  27.0%
34         Arizona       2016  43.0%
35         Wyoming       2016  41.0%
36       Wisconsin       2016  52.0%
37      Washington       2016  45.0%
38        Oklahoma       2016  40.0%
39        Michigan       2016  50.0%
40   Massachusetts       2016  63.0%
41        Maryland       2016  54.0%
42           Maine       2016  53.0%
43       Louisiana       2016  41.0%
44        Kentucky       2016  44.0%
45          Nevada       2016  34.0%
46        Missouri       2016  46.0%
47   West Virginia       2016  45.0%
48            Ohio       2016  47.0%
49          Kansas       2016  48.0%

In [48]:
#Fetching state and year wise data for health indicators for children with focus only on the Obesity conditions 

csv_file = "Resources/obesity.csv"
raw_obesity_data_df = pd.read_csv(csv_file)
raw_obesity_data_df.head()

  LocationType       Location          Gender  TimeFrame DataFormat  Data
0       Nation  United States          Female  2015-2016    Percent  0.29
1       Nation  United States            Male  2015-2016    Percent  0.33
2       Nation  United States  Total 10 to 17  2015-2016    Percent  0.31
3        State        Alabama          Female  2015-2016    Percent  0.35
4        State        Alabama            Male  2015-2016    Percent  0.36

In [57]:
#Filtring the state data
obesity_data_df = raw_obesity_data_df.loc[raw_obesity_data_df['LocationType'] == 'State']
obesity_data_df.head()

  LocationType Location          Gender  TimeFrame DataFormat  Data
3        State  Alabama          Female  2015-2016    Percent  0.35
4        State  Alabama            Male  2015-2016    Percent  0.36
5        State  Alabama  Total 10 to 17  2015-2016    Percent  0.35
6        State   Alaska          Female  2015-2016    Percent  0.21
7        State   Alaska            Male  2015-2016    Percent  0.31

In [69]:
#Sorting the dataframe by Timeframe
obesity_data_df = obesity_data_df.sort_values(by = 'TimeFrame', ascending = False)

obesity_data_df.head()

       Location  TimeFrame  Data
0       Alabama  2015-2016  0.35
94  Connecticut  2015-2016  0.26
96     Colorado  2015-2016  0.27
97      Alabama  2015-2016  0.35
98       Alaska  2015-2016  0.21

In [74]:
#Keeping only the columns that are relevant for analysis
obesity_data_df = obesity_data_df[['Location', 'TimeFrame', 'Data']]
obesity_data_df

           Location  TimeFrame  Data
0           Alabama  2015-2016  0.35
94      Connecticut  2015-2016  0.26
96         Colorado  2015-2016  0.27
97          Alabama  2015-2016  0.35
98           Alaska  2015-2016  0.21
99           Alaska  2015-2016  0.31
100          Alaska  2015-2016  0.26
101         Arizona  2015-2016  0.21
102         Arizona  2015-2016  0.33
103         Arizona  2015-2016  0.27
104        Arkansas  2015-2016  0.33
105        Arkansas  2015-2016  0.35
106        Arkansas  2015-2016  0.34
107      California  2015-2016  0.27
108      California  2015-2016  0.36
109      California  2015-2016  0.31
110        Colorado  2015-2016  0.30
95         Missouri  2015-2016  0.27
93      Connecticut  2015-2016  0.30
112        Illinois  2015-2016  0.31
92            Idaho  2015-2016  0.26
77      Connecticut  2015-2016  0.34
78         Delaware  2015-2016  0.30
79         Delaware  2015-2016  0.32
80         Delaware  2015-2016  0.31
81          Florida  2015-2016  0.37
82          Florida  2015-2016  0.36
83          Florida  2015-2016  0.37
84          Georgia  2015-2016  0.31
85          Georgia  2015-2016  0.34
..              ...        ...   ...
62   South Carolina  2015-2016  0.36
63   South Carolina  2015-2016  0.33
64     South Dakota  2015-2016  0.24
65     South Dakota  2015-2016  0.37
66     South Dakota  2015-2016  0.31
67        Tennessee  2015-2016  0.33
68        Tennessee  2015-2016  0.42
69        Tennessee  2015-2016  0.38
70            Texas  2015-2016  0.32
71            Texas  2015-2016  0.35
72            Texas  2015-2016  0.33
57     Rhode Island  2015-2016  0.39
56             Utah  2015-2016  0.19
55          Vermont  2015-2016  0.21
46       Washington  2015-2016  0.25
40          Vermont  2015-2016  0.22
41         Virginia  2015-2016  0.28
42         Virginia  2015-2016  0.27
43         Virginia  2015-2016  0.27
44       Washington  2015-2016  0.21
45       Washington  2015-2016  0.29
47    West Virginia  2015-2016  0.33
54          Wyoming  2015-2016  0.26
48    West Virginia  2015-2016  0.37
49    West Virginia  2015-2016  0.35
50        Wisconsin  2015-2016  0.23
51        Wisconsin  2015-2016  0.35
52        Wisconsin  2015-2016  0.30
53          Wyoming  2015-2016  0.28
149         Wyoming  2015-2016  0.27

[150 rows x 3 columns]

In [89]:
obesity_df = obesity_data_df.groupby(["Location","TimeFrame"]).sum().reset_index()
obesity_df['Data'] = obesity_df['Data'].map("{:,.1%}".format)
obesity_df['TimeFrame'] = obesity_df['TimeFrame'].str.split('-').str[1]
obesity_df

          Location TimeFrame    Data
0          Alabama      2016  106.0%
1           Alaska      2016   78.0%
2          Arizona      2016   81.0%
3         Arkansas      2016  102.0%
4       California      2016   94.0%
5         Colorado      2016   81.0%
6      Connecticut      2016   90.0%
7         Delaware      2016   93.0%
8          Florida      2016  110.0%
9          Georgia      2016   97.0%
10          Hawaii      2016   76.0%
11           Idaho      2016   78.0%
12        Illinois      2016   81.0%
13         Indiana      2016  101.0%
14            Iowa      2016   91.0%
15          Kansas      2016   93.0%
16        Kentucky      2016  100.0%
17       Louisiana      2016  103.0%
18           Maine      2016   84.0%
19        Maryland      2016  100.0%
20   Massachusetts      2016   80.0%
21        Michigan      2016   96.0%
22       Minnesota      2016   84.0%
23     Mississippi      2016  111.0%
24        Missouri      2016   88.0%
25         Montana      2016   70.0%
26        Nebraska      2016   88.0%
27          Nevada      2016   91.0%
28   New Hampshire      2016   72.0%
29      New Jersey      2016   94.0%
30      New Mexico      2016   75.0%
31        New York      2016   95.0%
32  North Carolina      2016   93.0%
33    North Dakota      2016  111.0%
34            Ohio      2016  100.0%
35        Oklahoma      2016  101.0%
36          Oregon      2016   60.0%
37    Pennsylvania      2016   95.0%
38    Rhode Island      2016  109.0%
39  South Carolina      2016   98.0%
40    South Dakota      2016   92.0%
41       Tennessee      2016  113.0%
42           Texas      2016  100.0%
43            Utah      2016   57.0%
44         Vermont      2016   66.0%
45        Virginia      2016   82.0%
46      Washington      2016   75.0%
47   West Virginia      2016  105.0%
48       Wisconsin      2016   88.0%
49         Wyoming      2016   81.0%

In [220]:
xls = 'Resources/NSDUHsaeTotals2017.xlsx'

#Fetching the data from Sheet - Table 7 which provides Cocaine Use data
drug_df = pd.read_excel(xls, 'Table 7')
drug_df = drug_df.iloc[4:]

#grab the first row for the header
new_header = drug_df.iloc[0]
#take the data less the header row
drug_df = drug_df[1:] 
drug_df.columns = new_header

#Removing the total US row
drug_df = drug_df.iloc[5:] 
drug_df = drug_df.reset_index(drop=True)
drug_df

4,Order,State,12 or Older Estimate,12 or Older 95% CI (Lower),12 or Older 95% CI (Upper),12-17 Estimate,12-17 95% CI (Lower),12-17 95% CI (Upper),18-25 Estimate,18-25 95% CI (Lower),18-25 95% CI (Upper),26 or Older Estimate,26 or Older 95% CI (Lower),26 or Older 95% CI (Upper),18 or Older Estimate,18 or Older 95% CI (Lower),18 or Older 95% CI (Upper)
0,6,Alabama,66,49,90,1,1,2,20,14,28,45,31,65,65,47,88
1,7,Alaska,14,10,18,0,0,1,4,3,6,9,6,12,13,10,17
2,8,Arizona,122,91,164,4,2,6,44,31,60,75,52,109,119,88,160
3,9,Arkansas,37,27,51,1,1,2,12,8,17,24,16,35,35,26,49
4,10,California,889,779,1014,21,14,30,345,294,405,523,433,631,868,759,992
5,11,Colorado,125,96,161,3,2,5,49,37,64,72,51,102,121,93,157
6,12,Connecticut,84,64,110,2,1,3,33,25,43,50,35,71,82,63,108
7,13,Delaware,16,12,22,0,0,0,6,4,8,10,7,15,16,12,22
8,14,District of Columbia,25,20,33,0,0,0,6,5,9,19,14,26,25,20,33
9,15,Florida,346,291,413,6,4,9,122,101,147,218,173,274,340,285,406
10,16,Georgia,148,115,191,3,2,5,49,37,65,96,69,133,145,112,188
11,17,Hawaii,22,16,30,1,0,1,7,5,9,14,10,21,21,15,29
12,18,Idaho,19,14,26,1,1,2,8,5,11,10,7,16,18,13,25
13,19,Illinois,208,169,256,5,3,7,79,63,99,124,94,163,203,165,250
14,20,Indiana,105,80,138,3,2,5,42,31,58,60,41,86,102,77,135
15,21,Iowa,38,27,51,1,1,2,16,11,23,20,13,30,36,26,49
16,22,Kansas,38,28,51,1,1,2,16,11,22,20,14,30,36,27,49
17,23,Kentucky,59,43,80,2,1,3,22,16,31,35,23,52,57,41,78
18,24,Louisiana,55,39,76,1,1,2,18,13,26,36,24,53,54,38,75
19,25,Maine,21,16,29,1,0,1,8,6,11,13,9,18,21,16,28
20,26,Maryland,107,81,140,2,1,3,38,28,51,67,48,94,105,80,138
21,27,Massachusetts,179,140,230,3,2,5,74,56,97,102,74,141,176,137,226
22,28,Michigan,143,116,176,3,2,5,52,41,66,87,66,116,140,113,173
23,29,Minnesota,79,60,104,2,2,4,28,20,38,49,34,69,76,57,102
24,30,Mississippi,32,22,45,1,0,1,9,6,14,22,14,33,31,22,44
25,31,Missouri,81,60,109,2,1,4,29,20,40,50,35,72,79,58,106
26,32,Montana,17,13,22,1,0,1,6,5,9,10,7,14,16,12,21
27,33,Nebraska,26,20,35,1,1,1,12,9,16,13,9,20,25,19,34
28,34,Nevada,58,43,77,1,1,2,17,12,23,40,28,56,56,42,75
29,35,New Hampshire,25,20,33,1,1,1,13,10,16,12,8,17,25,19,32
30,36,New Jersey,142,110,181,3,2,5,58,44,76,80,58,112,138,107,178
31,37,New Mexico,35,26,46,1,1,2,12,9,17,21,15,31,34,25,45
32,38,New York,414,350,489,6,4,9,125,103,151,283,228,350,407,344,483
33,39,North Carolina,158,124,200,3,2,5,54,42,70,100,74,136,154,121,197
34,40,North Dakota,9,7,13,0,0,1,5,3,7,4,3,7,9,6,12
35,41,Ohio,172,142,209,5,3,7,63,50,78,105,81,136,168,138,204
36,42,Oklahoma,54,40,73,2,1,2,23,16,32,30,20,45,53,39,71
37,43,Oregon,104,82,133,3,2,5,37,28,48,64,47,88,101,79,130
38,44,Pennsylvania,215,174,266,5,3,7,74,59,93,136,103,180,210,170,260
39,45,Rhode Island,24,18,32,1,0,1,10,7,13,14,10,20,24,18,31
40,46,South Carolina,81,61,108,1,1,2,30,23,40,49,34,72,80,60,106
41,47,South Dakota,8,6,11,0,0,1,3,2,5,4,3,7,8,5,11
42,48,Tennessee,104,79,139,3,2,4,37,26,50,65,46,93,102,76,136
43,49,Texas,334,273,407,11,7,16,136,109,170,186,140,247,323,263,395
44,50,Utah,42,31,55,2,1,3,18,13,26,21,14,31,40,29,53
45,51,Vermont,19,15,24,0,0,1,9,7,12,10,7,14,19,15,24
46,52,Virginia,135,106,171,3,2,4,46,36,60,86,63,117,132,104,168
47,53,Washington,143,109,188,4,2,6,48,36,65,91,64,128,139,105,184
48,54,West Virginia,26,19,34,1,0,1,9,7,13,16,11,23,25,18,33
49,55,Wisconsin,98,74,130,3,2,4,39,28,53,57,40,81,96,72,127
50,56,Wyoming,8,6,10,0,0,1,3,2,4,4,3,7,7,5,10

In [221]:
#Keeping only the columns that are relevant for analysis
drug_df = drug_df[['State', '12-17\nEstimate', '18-25\nEstimate']]
drug_df

4                  State 12-17\nEstimate 18-25\nEstimate
0                Alabama               1              20
1                 Alaska               0               4
2                Arizona               4              44
3               Arkansas               1              12
4             California              21             345
5               Colorado               3              49
6            Connecticut               2              33
7               Delaware               0               6
8   District of Columbia               0               6
9                Florida               6             122
10               Georgia               3              49
11                Hawaii               1               7
12                 Idaho               1               8
13              Illinois               5              79
14               Indiana               3              42
15                  Iowa               1              16
16                Kansas               1              16
17              Kentucky               2              22
18             Louisiana               1              18
19                 Maine               1               8
20              Maryland               2              38
21         Massachusetts               3              74
22              Michigan               3              52
23             Minnesota               2              28
24           Mississippi               1               9
25              Missouri               2              29
26               Montana               1               6
27              Nebraska               1              12
28                Nevada               1              17
29         New Hampshire               1              13
30            New Jersey               3              58
31            New Mexico               1              12
32              New York               6             125
33        North Carolina               3              54
34          North Dakota               0               5
35                  Ohio               5              63
36              Oklahoma               2              23
37                Oregon               3              37
38          Pennsylvania               5              74
39          Rhode Island               1              10
40        South Carolina               1              30
41          South Dakota               0               3
42             Tennessee               3              37
43                 Texas              11             136
44                  Utah               2              18
45               Vermont               0               9
46              Virginia               3              46
47            Washington               4              48
48         West Virginia               1               9
49             Wisconsin               3              39
50               Wyoming               0               3

In [223]:
#Adding the 2 columns to get the total number of children using cocaine across all US states in year 2017
drug_df['Total Drug Use (Age Group: 12-25)']= drug_df.iloc[:, -3:].sum(axis=1)

drug_df

C:\Users\HimaniAkshay\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

4,State,12-17 Estimate,18-25 Estimate,Total Drug Use (Age Group: 12-25)
0,Alabama,1,20,21.0
1,Alaska,0,4,4.0
2,Arizona,4,44,48.0
3,Arkansas,1,12,13.0
4,California,21,345,366.0
5,Colorado,3,49,52.0
6,Connecticut,2,33,35.0
7,Delaware,0,6,6.0
8,District of Columbia,0,6,6.0
9,Florida,6,122,128.0
10,Georgia,3,49,52.0
11,Hawaii,1,7,8.0
12,Idaho,1,8,9.0
13,Illinois,5,79,84.0
14,Indiana,3,42,45.0
15,Iowa,1,16,17.0
16,Kansas,1,16,17.0
17,Kentucky,2,22,24.0
18,Louisiana,1,18,19.0
19,Maine,1,8,9.0
20,Maryland,2,38,40.0
21,Massachusetts,3,74,77.0
22,Michigan,3,52,55.0
23,Minnesota,2,28,30.0
24,Mississippi,1,9,10.0
25,Missouri,2,29,31.0
26,Montana,1,6,7.0
27,Nebraska,1,12,13.0
28,Nevada,1,17,18.0
29,New Hampshire,1,13,14.0
30,New Jersey,3,58,61.0
31,New Mexico,1,12,13.0
32,New York,6,125,131.0
33,North Carolina,3,54,57.0
34,North Dakota,0,5,5.0
35,Ohio,5,63,68.0
36,Oklahoma,2,23,25.0
37,Oregon,3,37,40.0
38,Pennsylvania,5,74,79.0
39,Rhode Island,1,10,11.0
40,South Carolina,1,30,31.0
41,South Dakota,0,3,3.0
42,Tennessee,3,37,40.0
43,Texas,11,136,147.0
44,Utah,2,18,20.0
45,Vermont,0,9,9.0
46,Virginia,3,46,49.0
47,Washington,4,48,52.0
48,West Virginia,1,9,10.0
49,Wisconsin,3,39,42.0
50,Wyoming,0,3,3.0

In [224]:
#Keeping only the columns that are relevant for analysis
drug_df = drug_df[['State', 'Total Drug Use (Age Group: 12-25)']]
drug_df

4                  State  Total Drug Use (Age Group: 12-25)
0                Alabama                               21.0
1                 Alaska                                4.0
2                Arizona                               48.0
3               Arkansas                               13.0
4             California                              366.0
5               Colorado                               52.0
6            Connecticut                               35.0
7               Delaware                                6.0
8   District of Columbia                                6.0
9                Florida                              128.0
10               Georgia                               52.0
11                Hawaii                                8.0
12                 Idaho                                9.0
13              Illinois                               84.0
14               Indiana                               45.0
15                  Iowa                               17.0
16                Kansas                               17.0
17              Kentucky                               24.0
18             Louisiana                               19.0
19                 Maine                                9.0
20              Maryland                               40.0
21         Massachusetts                               77.0
22              Michigan                               55.0
23             Minnesota                               30.0
24           Mississippi                               10.0
25              Missouri                               31.0
26               Montana                                7.0
27              Nebraska                               13.0
28                Nevada                               18.0
29         New Hampshire                               14.0
30            New Jersey                               61.0
31            New Mexico                               13.0
32              New York                              131.0
33        North Carolina                               57.0
34          North Dakota                                5.0
35                  Ohio                               68.0
36              Oklahoma                               25.0
37                Oregon                               40.0
38          Pennsylvania                               79.0
39          Rhode Island                               11.0
40        South Carolina                               31.0
41          South Dakota                                3.0
42             Tennessee                               40.0
43                 Texas                              147.0
44                  Utah                               20.0
45               Vermont                                9.0
46              Virginia                               49.0
47            Washington                               52.0
48         West Virginia                               10.0
49             Wisconsin                               42.0
50               Wyoming                                3.0

In [186]:
year = 2017
drug_df['TimeFrame'] = year
drug_df

C:\Users\HimaniAkshay\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

4                  State  Total Drug Use (Age Group: 12-25)  TimeFrame
0                Alabama                               21.0       2017
1                 Alaska                                4.0       2017
2                Arizona                               48.0       2017
3               Arkansas                               13.0       2017
4             California                              366.0       2017
5               Colorado                               52.0       2017
6            Connecticut                               35.0       2017
7               Delaware                                6.0       2017
8   District of Columbia                                6.0       2017
9                Florida                              128.0       2017
10               Georgia                               52.0       2017
11                Hawaii                                8.0       2017
12                 Idaho                                9.0       2017
13              Illinois                               84.0       2017
14               Indiana                               45.0       2017
15                  Iowa                               17.0       2017
16                Kansas                               17.0       2017
17              Kentucky                               24.0       2017
18             Louisiana                               19.0       2017
19                 Maine                                9.0       2017
20              Maryland                               40.0       2017
21         Massachusetts                               77.0       2017
22              Michigan                               55.0       2017
23             Minnesota                               30.0       2017
24           Mississippi                               10.0       2017
25              Missouri                               31.0       2017
26               Montana                                7.0       2017
27              Nebraska                               13.0       2017
28                Nevada                               18.0       2017
29         New Hampshire                               14.0       2017
30            New Jersey                               61.0       2017
31            New Mexico                               13.0       2017
32              New York                              131.0       2017
33        North Carolina                               57.0       2017
34          North Dakota                                5.0       2017
35                  Ohio                               68.0       2017
36              Oklahoma                               25.0       2017
37                Oregon                               40.0       2017
38          Pennsylvania                               79.0       2017
39          Rhode Island                               11.0       2017
40        South Carolina                               31.0       2017
41          South Dakota                                3.0       2017
42             Tennessee                               40.0       2017
43                 Texas                              147.0       2017
44                  Utah                               20.0       2017
45               Vermont                                9.0       2017
46              Virginia                               49.0       2017
47            Washington                               52.0       2017
48         West Virginia                               10.0       2017
49             Wisconsin                               42.0       2017
50               Wyoming                                3.0       2017

In [187]:
engine = create_engine('sqlite:///parental_impact_db.sqlite')

In [188]:

engine.table_names()

[]

In [213]:
college_data_df.to_sql('education_enrollment_rate', con=engine, if_exists='append', index = True)

In [214]:
obesity_df.to_sql('obesity_rate', con=engine, if_exists='append', index = True)

In [215]:
drug_df.to_sql('drug_consumption_rate', con=engine, if_exists='append', index = True)

In [216]:
engine.table_names()

['drug_consumption_rate', 'education_enrollment_rate', 'obesity_rate']