In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Breastfed (Store CSV into DataFrame)

In [2]:
csv_file = "Resources/breastfeeding2015.csv"
bf_raw_data_df = pd.read_csv(csv_file)

bf_df = bf_raw_data_df.iloc[1:, 0:3]
bf_df.dropna(how='any', inplace=True)
bf_df

                Location  Ever Breastfed  Breastfeeding at 6 months
1                Alabama           0.681                      0.391
2                 Alaska           0.931                      0.692
3                Arizona           0.827                      0.533
4               Arkansas           0.738                      0.452
5             California           0.872                      0.667
6               Colorado           0.909                      0.639
7            Connecticut           0.863                      0.596
8               Delaware           0.774                      0.556
9   District of Columbia           0.830                      0.655
10               Florida           0.826                      0.540
11               Georgia           0.840                      0.555
12                Hawaii           0.906                      0.656
13                 Idaho           0.901                      0.621
14              Illinois           0.803                      0.530
15               Indiana           0.788                      0.535
16                  Iowa           0.815                      0.514
17                Kansas           0.836                      0.582
18              Kentucky           0.739                      0.486
19             Louisiana           0.670                      0.390
20                 Maine           0.853                      0.621
21              Maryland           0.910                      0.668
22         Massachusetts           0.874                      0.556
23              Michigan           0.777                      0.556
24             Minnesota           0.892                      0.653
25           Mississippi           0.632                      0.354
26              Missouri           0.823                      0.578
27               Montana           0.839                      0.611
28              Nebraska           0.822                      0.570
29                Nevada           0.835                      0.499
30         New Hampshire           0.874                      0.647
31            New Jersey           0.828                      0.576
32            New Mexico           0.877                      0.598
33              New York           0.851                      0.595
34        North Carolina           0.849                      0.588
35          North Dakota           0.817                      0.582
36                  Ohio           0.819                      0.531
37              Oklahoma           0.759                      0.490
38                Oregon           0.894                      0.725
39          Pennsylvania           0.838                      0.592
40          Rhode Island           0.814                      0.496
41        South Carolina           0.764                      0.451
42          South Dakota           0.833                      0.626
43             Tennessee           0.757                      0.498
44                 Texas           0.850                      0.566
45                  Utah           0.897                      0.625
46               Vermont           0.893                      0.709
47              Virginia           0.817                      0.625
48            Washington           0.924                      0.727
49         West Virginia           0.686                      0.401
50             Wisconsin           0.822                      0.590
51               Wyoming           0.900                      0.594
52                  Guam           0.806                      0.490
53           Puerto Rico           0.859                      0.470
54   U.S. Virgin Islands           0.839                      0.519

In [3]:


# # {:,.2%}'.format(0.214) yields 21.40%

# bf_df['Ever Breastfed']

### Parent Education (Store XLSX into DataFrame)
Chose not to use this data after all because it splits education into immigrant familites and US-born families. I wanted this data separately.

In [4]:
# xlsx_file = "Resources/Children whose parents all have less than a high school degree by family nativity.xlsx"
# parent_edu_raw_data_df = pd.read_excel(xlsx_file)

# parent_edu_2015 = parent_edu_raw_data_df.loc[(parent_edu_raw_data_df["TimeFrame"]=='2015')&(parent_edu_raw_data_df["LocationType"]=='State')&(parent_edu_raw_data_df["DataFormat"]=='Number')]
# parent_edu_2015 = parent_edu_2015[['Location', 'Data']]
# parent_edu_2015
# parent_edu_raw_data_df

# df = parent_edu_2015.groupby(['Location']).sum()
# df

### Families on Public Assistance (Store XLSX into DataFrame)

In [5]:
public_assistance_xlsx_file = "Resources/Children in families that receive public assistance.xlsx"
public_assistance_raw_data_df = pd.read_excel(public_assistance_xlsx_file)

public_assistance_df = public_assistance_raw_data_df.loc[(public_assistance_raw_data_df["LocationType"]=='State')&(public_assistance_raw_data_df["DataFormat"]=='Percent')&(public_assistance_raw_data_df["TimeFrame"]==2015)]
public_assistance_df = public_assistance_df[['Location', 'TimeFrame', 'Data']]

public_assistance_df

           Location  TimeFrame  Data
23          Alabama       2015  0.34
40           Alaska       2015  0.25
54          Arizona       2015  0.31
73         Arkansas       2015  0.31
86       California       2015  0.27
105        Colorado       2015  0.19
118     Connecticut       2015  0.21
137        Delaware       2015  0.30
170         Florida       2015  0.33
182         Georgia       2015  0.31
201          Hawaii       2015  0.27
214           Idaho       2015  0.27
233        Illinois       2015  0.28
246         Indiana       2015  0.26
265            Iowa       2015  0.23
278          Kansas       2015  0.20
297        Kentucky       2015  0.32
310       Louisiana       2015  0.33
329           Maine       2015  0.28
342        Maryland       2015  0.24
361   Massachusetts       2015  0.22
373        Michigan       2015  0.30
394       Minnesota       2015  0.19
405     Mississippi       2015  0.38
426        Missouri       2015  0.26
437         Montana       2015  0.22
458        Nebraska       2015  0.20
469          Nevada       2015  0.29
490   New Hampshire       2015  0.17
501      New Jersey       2015  0.20
522      New Mexico       2015  0.37
533        New York       2015  0.29
554  North Carolina       2015  0.30
565    North Dakota       2015  0.14
586            Ohio       2015  0.28
597        Oklahoma       2015  0.27
618          Oregon       2015  0.35
629    Pennsylvania       2015  0.27
650    Rhode Island       2015  0.28
661  South Carolina       2015  0.32
682    South Dakota       2015  0.25
693       Tennessee       2015  0.32
714           Texas       2015  0.29
725            Utah       2015  0.15
746         Vermont       2015  0.24
757        Virginia       2015  0.21
778      Washington       2015  0.26
789   West Virginia       2015  0.35
810       Wisconsin       2015  0.25
821         Wyoming       2015  0.15

### Children in Immigrant Families (Store XLSX into DataFrame)

In [6]:
immigrant_families_xlsx_file = "Resources/Children in immigrant families.xlsx"
immigrant_families_raw_data_df = pd.read_excel(immigrant_families_xlsx_file)

immigrant_families_df = immigrant_families_raw_data_df.loc[(immigrant_families_raw_data_df["LocationType"]=='State')&(immigrant_families_raw_data_df["DataFormat"]=='Percent')&(immigrant_families_raw_data_df["TimeFrame"]=='2015')]
immigrant_families_df = immigrant_families_df[['Location', 'TimeFrame', 'Data']]

immigrant_families_df

            Location TimeFrame  Data
42           Alabama      2015  0.08
86            Alaska      2015  0.14
105          Arizona      2015  0.27
150         Arkansas      2015  0.11
169       California      2015  0.48
214         Colorado      2015  0.23
233      Connecticut      2015  0.26
278         Delaware      2015  0.19
342          Florida      2015  0.32
361          Georgia      2015  0.21
406           Hawaii      2015  0.27
425            Idaho      2015  0.12
470         Illinois      2015  0.27
489          Indiana      2015  0.11
534             Iowa      2015   0.1
553           Kansas      2015  0.16
598         Kentucky      2015  0.08
617        Louisiana      2015  0.07
662            Maine      2015  0.07
681         Maryland      2015  0.28
726    Massachusetts      2015  0.28
745         Michigan      2015  0.13
790        Minnesota      2015  0.19
810      Mississippi      2015  0.04
853         Missouri      2015  0.08
874          Montana      2015  0.04
917         Nebraska      2015  0.15
938           Nevada      2015  0.36
981    New Hampshire      2015  0.11
1002      New Jersey      2015  0.37
1045      New Mexico      2015  0.21
1066        New York      2015  0.36
1109  North Carolina      2015  0.19
1130    North Dakota      2015  0.08
1173            Ohio      2015  0.08
1194        Oklahoma      2015  0.13
1236          Oregon      2015  0.22
1258    Pennsylvania      2015  0.12
1300    Rhode Island      2015  0.25
1323  South Carolina      2015  0.09
1364    South Dakota      2015  0.06
1386       Tennessee      2015  0.12
1428           Texas      2015  0.34
1451            Utah      2015  0.16
1492         Vermont      2015  0.08
1515        Virginia      2015  0.23
1556      Washington      2015  0.28
1579   West Virginia      2015  0.03
1620       Wisconsin      2015  0.11
1643         Wyoming      2015  0.09

### Head of household with less than high school education (Store XLSX into DataFrame)

In [7]:
head_edu_xlsx_file = "Resources/Children by household head’s educational attainment.xlsx"
head_edu_raw_df = pd.read_excel(head_edu_xlsx_file)

head_edu_df = head_edu_raw_df.loc[(head_edu_raw_df["LocationType"]=='State')&(head_edu_raw_df["DataFormat"]=='Percent')&(head_edu_raw_df["TimeFrame"]==2015)&(head_edu_raw_df["Education Level"]=="Not a high school graduate")]
head_edu_df = head_edu_df[['Location', 'TimeFrame', 'Data']]

head_edu_df

            Location  TimeFrame  Data
190          Alabama       2015  0.14
320           Alaska       2015  0.08
450          Arizona       2015  0.18
580         Arkansas       2015  0.14
715       California       2015  0.22
845         Colorado       2015  0.12
970      Connecticut       2015  0.08
1105        Delaware       2015  0.11
1370         Florida       2015  0.12
1490         Georgia       2015  0.14
1630          Hawaii       2015  0.08
1745           Idaho       2015  0.10
1885        Illinois       2015  0.12
2010         Indiana       2015  0.12
2145            Iowa       2015  0.08
2270          Kansas       2015  0.11
2405        Kentucky       2015  0.11
2530       Louisiana       2015  0.13
2665           Maine       2015  0.04
2790        Maryland       2015  0.10
2925   Massachusetts       2015  0.08
3050        Michigan       2015  0.10
3185       Minnesota       2015  0.08
3310     Mississippi       2015  0.13
3445        Missouri       2015  0.09
3570         Montana       2015  0.06
3705        Nebraska       2015  0.09
3830          Nevada       2015  0.19
3965   New Hampshire       2015  0.04
4090      New Jersey       2015  0.10
4225      New Mexico       2015  0.18
4350        New York       2015  0.15
4485  North Carolina       2015  0.14
4610    North Dakota       2015  0.05
4745            Ohio       2015  0.09
4870        Oklahoma       2015  0.13
5005          Oregon       2015  0.13
5130    Pennsylvania       2015  0.10
5265    Rhode Island       2015  0.12
5390  South Carolina       2015  0.12
5525    South Dakota       2015  0.08
5650       Tennessee       2015  0.12
5785           Texas       2015  0.21
5907            Utah       2015  0.08
6045         Vermont       2015  0.06
6170        Virginia       2015  0.09
6305      Washington       2015  0.11
6430   West Virginia       2015  0.10
6565       Wisconsin       2015  0.09
6690         Wyoming       2015  0.08

### Health Insurance (Store XLSX into DataFrame)

In [8]:
health_insurance_xlsx_file = "Resources/Children 17 and below without health insurance.xlsx"
health_insurance_raw_df = pd.read_excel(health_insurance_xlsx_file)

health_insurance_df = health_insurance_raw_df.loc[(health_insurance_raw_df["LocationType"]=='State')&(health_insurance_raw_df["DataFormat"]=='Percent')&(health_insurance_raw_df["TimeFrame"]==2015)]
health_insurance_df = health_insurance_df[['Location', 'TimeFrame', 'Data']]

health_insurance_df

           Location  TimeFrame  Data
26          Alabama       2015  0.03
45           Alaska       2015  0.11
62          Arizona       2015  0.08
81         Arkansas       2015  0.05
98       California       2015  0.03
117        Colorado       2015  0.04
134     Connecticut       2015  0.03
153        Delaware       2015  0.03
189         Florida       2015  0.07
206         Georgia       2015  0.07
225          Hawaii       2015  0.02
242           Idaho       2015  0.06
261        Illinois       2015  0.03
278         Indiana       2015  0.07
297            Iowa       2015  0.04
314          Kansas       2015  0.05
333        Kentucky       2015  0.04
351       Louisiana       2015  0.04
368           Maine       2015  0.06
387        Maryland       2015  0.04
404   Massachusetts       2015  0.01
423        Michigan       2015  0.03
440       Minnesota       2015  0.03
459     Mississippi       2015  0.04
476        Missouri       2015  0.06
495         Montana       2015  0.08
512        Nebraska       2015  0.05
531          Nevada       2015  0.08
548   New Hampshire       2015  0.03
567      New Jersey       2015  0.04
584      New Mexico       2015  0.04
603        New York       2015  0.02
620  North Carolina       2015  0.04
639    North Dakota       2015  0.08
656            Ohio       2015  0.04
675        Oklahoma       2015  0.07
692          Oregon       2015  0.04
711    Pennsylvania       2015  0.04
728    Rhode Island       2015  0.03
747  South Carolina       2015  0.04
764    South Dakota       2015  0.07
783       Tennessee       2015  0.04
800           Texas       2015  0.09
819            Utah       2015  0.07
836         Vermont       2015  0.01
855        Virginia       2015  0.05
872      Washington       2015  0.03
891   West Virginia       2015  0.03
908       Wisconsin       2015  0.04
927         Wyoming       2015  0.08